@font-face {
  font-family: Shabnam;
  src: url('eot/Shabnam.eot');
  src: url('eot/Shabnam.eot?#iefix') format('embedded-opentype'),
       url('woff2/Shabnam.woff2') format('woff2'),
       url('woff/Shabnam.woff') format('woff'),
       url('ttf/Shabnam.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Shabnam;
  src: url('eot/Shabnam-Bold.eot');
  src: url('eot/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
       url('woff2/Shabnam-Bold.woff2') format('woff2'),
       url('woff/Shabnam-Bold.woff') format('woff'),
       url('ttf/Shabnam-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Shabnam;
  src: url('eot/Shabnam-Thin.eot');
  src: url('eot/Shabnam-Thin.eot?#iefix') format('embedded-opentype'),
       url('woff2/Shabnam-Thin.woff2') format('woff2'),
       url('woff/Shabnam-Thin.woff') format('woff'),
       url('ttf/Shabnam-Thin.ttf') format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: Shabnam;
  src: url('eot/Shabnam-Light.eot');
  src: url('eot/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
       url('woff2/Shabnam-Light.woff2') format('woff2'),
       url('woff/Shabnam-Light.woff') format('woff'),
       url('ttf/Shabnam-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: Shabnam;
  src: url('eot/Shabnam-Medium.eot');
  src: url('eot/Shabnam-Medium.eot?#iefix') format('embedded-opentype'),
       url('woff2/Shabnam-Medium.woff2') format('woff2'),
       url('woff/Shabnam-Medium.woff') format('woff'),
       url('ttf/Shabnam-Medium.ttf') format('truetype');
  font-weight: 500;
}
